html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

.top-bar {
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-small;
  height: 55px;
  border-bottom: 1px solid #2c2c2c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.top-bar-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #303030;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.top-bar-button:hover {
  background-color: #515151;
  transform: translateY(-1px);
}

.top-bar-button svg {
  flex-shrink: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-main {
  flex: 1;
  display: flex;
  height: 100%;
}

.sidebar-controls button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;

}

.sidebar-controls-footer {
  border-top: 1px solid #2c2c2c;
  padding-top: 5px;
}

.sidebar-controls button:hover {
  background: rgba(255, 255, 255, 0.1);
}


.sidebar-controls {
  background: #181818;
  width: 55px;
  border-right: 1px solid #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 3px;
  color: #fff;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar-controls-headr button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
}

.sidebar-controls-headr button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-controls-headr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  /* height: 40px; */
  /* border-bottom: 1px solid #2c2c2c; */
}

.sidebar-controls-headr button svg {
  fill: #999;
  transition: fill 0.3s ease;
}

.sidebar-controls-headr button:hover svg {
  fill: #fff;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5px;
}

.logo h1 {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  background-color: #181818;
  width: 100%;
  /* background: url('../assets/gradient.png') center no-repeat; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

